
  
.home{
    background-color: white;
    height: 100vh;
    margin-top: 60px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 20px;
  }
  
.filter-row
{
  flex-direction: row;
  display: flex;
  cursor: pointer;
}

.filter{
  margin-top:10px;
  margin-bottom: 0px;
  cursor: pointer;
}
.home h6{
  text-align: center;
  margin: auto;
  color: gray;
}
  